@page
@model Iportfolio.Pages.Admin.UpdateFactsModel
@{
}
<div class="row justify-content-center">
    <div class="col-md-8 justify-content-center">
        <h2>Update Facts Please</h2>
        <hr />
        <form method="post">
            <div class="col-md-12 justify-content-center">
                <label class="form-label">
                    Happy Client
                </label>
                <input class="form-control" asp-for="facts.HappyClient" />
                <input class="form-control" hidden asp-for="facts.Id" />

            </div>
            <div class="col-md-12 justify-content-center">
                <label class="form-label">
                    Projects
                </label>
                <input class="form-control" asp-for="facts.Projects" />
            </div>
            <div class="col-md-12 justify-content-center">
                <label class="form-label">
                    Hours of Support
                </label>
                <input class="form-control" asp-for="facts.HoursOfSupport" />
            </div>
            <div class="col-md-12 justify-content-center">
                <label class="form-label">
                    HardWorkers
                </label>
                <input class="form-control" asp-for="facts.HardWorkers" />
            </div>

            <div class="col-md-12 justify-content-center">
                <br />
                <input type="submit" class="btn btn-primary" value="Update Facts" />
            </div>

        </form>

    </div>

</div>